<html>
  <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div
      id="g_id_onload"
      data-client_id="{{CLIENT_ID}}"
      data-login_uri="{{DOMAIN}}/id"
      data-auto_prompt="false"
    ></div>
    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="circle"
      data-width="400" 
      data-logo_alignment="left"
    ></div>
  </body>
</html>
